.choose {
  padding: 5rem 3.75rem 5rem 5rem;
  border-radius: 1rem;
  background-color: #18181b;
  margin-bottom: 0.62rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-image: url("../../../shared/assets/images/choose-us-bg.png"),
    url("../../../shared/assets/images/choose-us-bg-2.png");
  background-repeat: no-repeat, no-repeat;
  background-position:
    top right,
    bottom left;
}

.chooseBox {
  background-image: url("../../../shared/assets/images/bg-gradient.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}

.chooseBoxTitle {
  color: #fff;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  padding: 1rem 1.25rem;
}

.chooseBoxInner {
  border-radius: 0 0.75rem 0.75rem 0.75rem;
  //border-right: 1px solid #262626;
  padding: 3.125rem;
}

.chooseBoxInnerTitle {
  color: #fff;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 1.25rem;
}

.chooseBoxDescription {
  color: #999;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
