@"
# Dependencies
node_modules/
.pnp
.pnp.js
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Next.js
out/
build/
dist/
.next

# Environment
.env.local
.env.development.local
.env.test.local
.env.production.local
"@ | Out-File -FilePath .gitignore -Encoding utf8