.mapContainer {
  position: relative;
  border-radius: 0.75rem;
  overflow: hidden;

  iframe {
    width: 100%;
    height: 43rem;
    border: none;
  }
}

.mapItem {
  position: absolute;
  top: 2%;
  left: 1%;
  border-radius: 0.625rem;
  border-bottom: 1px solid #e4e4e7;
  background: #fff;
}

.headerContent {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.mapImage {
  border-radius: 3.75rem;
  overflow: hidden;
  width: 3.75rem;
  height: 3.75rem;
  aspect-ratio: 1/1;
  image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
