.company {
  padding: 5rem;
  border-radius: 1rem;
  background: #fff;

  @media (max-width: 1024px) {
    padding: 3.5rem 2.5rem;
  }

  @media (max-width: 768px) {
    padding: 2.5rem 1.5rem;
  }

  @media (max-width: 480px) {
    padding: 2rem 1rem;
  }
}

.companyTitle {
  color: #18181b;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.045rem;

  @media (max-width: 1024px) {
    font-size: 2rem;
  }

  @media (max-width: 768px) {
    font-size: 1.75rem;
    br {
      display: none;
    }
  }

  @media (max-width: 480px) {
    font-size: 1.5rem;
  }
}

.companyDescription {
  color: #70707b;
  font-family: "Satoshi", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;

  @media (max-width: 768px) {
    font-size: 1rem;
  }

  @media (max-width: 480px) {
    font-size: 0.938rem;
  }
}

.companyImage {
  width: 100%;
  border-radius: 1rem;
  height: 100%;
  overflow: hidden;

  @media (max-width: 1024px) {
    min-height: 400px;
  }

  @media (max-width: 768px) {
    min-height: 300px;
  }

  @media (max-width: 480px) {
    min-height: 250px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
