.company {
  padding: 5rem;
  border-radius: 1rem;
  background: #fff;
}

.companyTitle {
  color: #18181b;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.045rem;
}

.companyDescription {
  color: #70707b;
  font-family: "Satoshi", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;
}

.companyImage {
  width: 100%;
  border-radius: 1rem;
  height: 100%;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
