.aboutInfoContainer {
  padding: 5rem;
  border-radius: 1rem;
  background: #fff;
  margin: 0.62rem 0 1.25rem 0;
}

.aboutInfoDescription {
  color: #000;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.aboutInfoDescriptionRight {
  color: #70707b;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;
}
