.breadcrumb {
  background-color: #18181b;
  padding: 0.625rem;
}

.breadcrumbList {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.separator {
  width: 1rem;
  height: 1rem;
  color: #a0aec0;
}

.link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  transition: color 0.2s ease;
}

.icon {
  color: #4fd1c5;
}

.current {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #06944c;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.inactiveText {
  color: #a0aec0;
}
