.contactWrapper {
  padding: 3.5625rem 3.5rem;
  background-image: url("../../../shared/assets/images/contact-form-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2.25rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0.62rem 0;
}

.contactWrapperLeft {
  width: 39rem;
}

.contactWrapperRight {
  width: 27.75rem;
  padding: 1.5rem;
  border-radius: 1.5rem;
  background: #fcfcfc;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.wrapperInput {
  label {
    color: #18181b;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 155%;
    margin-bottom: 0.5rem;
  }

  input {
    border-radius: 0.5rem;
    border: 1px solid #e4e4e7;
    background: #fff;
  }

  textarea {
    border-radius: 0.5rem;
    border: 1px solid #e4e4e7;
    background: #fff;
    height: 13rem;
  }
}

.contactWrapperTitle {
  color: #fcfcfc;
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 1.5rem;
}

.contactWrapperDescription {
  color: #fcfcfc;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;
}
