.blogContainer {
  padding: 5rem;
  border-radius: 1rem;
  background: #fff;

  @media (max-width: 1024px) {
    padding: 3rem;
  }

  @media (max-width: 768px) {
    padding: 2rem;
  }

  @media (max-width: 480px) {
    padding: 1.5rem;
  }
}

.blogCardTitle {
  color: #18181b;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;

  @media (max-width: 1024px) {
    font-size: 2rem;
  }

  @media (max-width: 768px) {
    font-size: 1.75rem;
  }

  @media (max-width: 480px) {
    font-size: 1.5rem;
  }
}

.blogCardDescription {
  color: #70707b;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155%;

  @media (max-width: 768px) {
    font-size: 1rem;
  }

  @media (max-width: 480px) {
    font-size: 0.938rem;
  }
}

.blogCard {
}

.blogCardImage {
  border-radius: 0.75rem;
  height: 26.5rem;
  overflow: hidden;

  @media (max-width: 1200px) {
    height: 22rem;
  }

  @media (max-width: 1024px) {
    height: 20rem;
  }

  @media (max-width: 768px) {
    height: 18rem;
  }

  @media (max-width: 480px) {
    height: 15rem;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.blogCardDate {
  color: #70707b;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155%;

  @media (max-width: 480px) {
    font-size: 0.875rem;
  }
}

.blogCardInfo {
  color: #18181b;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  cursor: pointer;

  @media (max-width: 1024px) {
    font-size: 1.375rem;
  }

  @media (max-width: 768px) {
    font-size: 1.25rem;
  }

  @media (max-width: 480px) {
    font-size: 1.125rem;
  }
}
