.filterRoom {
  border-radius: 1rem;
  background: #fff;
  padding: 5rem;
  margin-bottom: 0.62rem;
}

.filterRoomTop {
  margin-bottom: 3.5rem;
}

.filterHeadDescription {
  color: #70707b;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;
}

.filterRoomInner {
  border-radius: 1rem;
  background: #f4f4f5;
  padding: 1.5rem 1.25rem;
  flex: 1;
}

.list {
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.tab {
  border-radius: 6.25rem;
  background: #f4f4f5;
  height: 2.9375rem;
  padding: 0.5rem 0.75rem;
  color: #70707b;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  &[data-active] {
    background: #009540;
    color: #fff;
  }
}

.filterInfo {
  padding: 2.25rem;
  background-image: url("../../../shared/assets/images/filter-bg.svg");
  background-color: #f4f4f5;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.bgGreen {
  background-image: url("../../../shared/assets/images/filter-bg-2.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: #04b14e;

  .filterInfoTitle,
  .filterInfoLabel,
  .filterInfoNumber {
    color: #fff !important;
  }
}

.filterInfoTitle {
  color: #18181b;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.04rem;
}

.filterInfoLabel {
  color: #26272b;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02rem;
}

.filterInfoNumber {
  color: #18181b;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.035rem;
}
