.formBanner {
  border-radius: 1rem;
  background-color: #141414;
  padding: 5rem;
  background-image: url("../../shared/assets/images/choose-us-bg.png"),
    url("../../shared/assets/images/choose-us-bg-2.png");
  background-repeat: no-repeat, no-repeat;
  background-position:
    top right,
    bottom left;
  margin: 0.62rem 0 0.62rem 0;
}

.title {
  color: #fff;
  font-family: "Satoshi", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-align: center;
}

.subtitle {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
