.navbarWrapper {
  width: 100%;
  height: 5.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;

  .navbarWrapperLogo {
  }

  .menu {
    display: flex;
    align-items: center;

    .link {
      color: #3f3f46;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 155%;
      user-select: none;
      padding: 0.25rem 0.75rem;
      cursor: pointer;
      border-radius: 6.25rem;
      transition: 0.2s ease-in-out;

      &:hover {
        background: #f4f4f5;
        color: #009540;
      }

      &.active {
        background: #f4f4f5;
        color: #009540;
      }
    }
  }

  .navbarLeft {
    align-items: center;
    gap: 0.5rem;
  }

  @media screen and (max-width: 576px) {
    height: 80px;
    .navbarLeft {
      .menu,
      .lang,
      .submitBtn {
        display: none;
      }
    }
  }
}

.lang {
  max-width: 6.1875rem;
  border-radius: 3.125rem;

  input {
    border: none;
    height: 2.6875rem;
    color: #4f4f4f;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.045rem;
    border-radius: 3.125rem;
    text-transform: capitalize;
    background: #f4f4f5;
    width: 100%;
  }

  svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}
