.filterRoom {
  border-radius: 1rem;
  background: #fff;
  padding: 5rem;
  margin-bottom: 0.62rem;
}

.filterRoomLeft {
}

.filterHeadTitle {
  color: #18181b;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.045rem;
}

.filterHeadDescription {
  color: #70707b;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;
}

.filterInfo {
  padding: 2.25rem;
  background-image: url("../../../shared/assets/images/filter-bg-3.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
  border-radius: 1rem;
  height: 100%;
  background-color: #04b14e;
}

.filterInfoTitle {
  color: #18181b;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.04rem;
}

.filterInfoLabel {
  color: #fff;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.025rem;
}

.filterInfoNumber {
  color: #fff;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.06rem;
}

.titleCheckbox {
  color: #18181b;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.00938rem;
}

.filterCardTitle {
  color: #18181b;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.filterCardDescription {
  color: #70707b;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155%;
}

.buildingsBox {
  position: relative;
  overflow: hidden;
  height: 35rem;
  transition: all 0.3s ease;
}

.buildingsBoxImage {
  position: relative;
  border-radius: 0.75rem;
  overflow: hidden;
  height: 28rem;
  transition: height 0.3s ease;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.buildingsTags {
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;

  span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 1.375rem;
    background: rgba(24, 24, 27, 0.28);
    padding: 0.5rem 0.75rem;
    color: #fcfcfc;
    text-align: center;
    font-family: "Satoshi", sans-serif !important;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: 0.01rem;
  }
}

.buildingsBoxTitle {
  color: #18181b;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.buildingsBoxDescription {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #70707b;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155%;
}

.buildingsBoxPrice {
  color: #009540;
  text-align: right;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.buildingsBoxBody {
  padding: 0.75rem 0 1rem 0;
  transition: padding 0.3s ease;
  cursor: pointer;
}

.buildingsBoxContent {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.buildingsBoxInfo {
  border-top: 1px solid #e4e4e7;
  border-bottom: 1px solid #e4e4e7;
  padding: 0.75rem 0;

  h3 {
    color: #18181b;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  p {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.buildingsBoxFooter {
  padding: 0.75rem 0;

  p {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  a {
    color: #009540;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0.375rem 0.625rem;
    border-radius: 6.25rem;
    background: #f4f4f5;
  }
}

/* Hover состояние */
.buildingsBox:hover .buildingsBoxImage {
  height: 15rem;
}

.buildingsBox:hover .buildingsBoxContent {
  max-height: 249px;
}
