.footerWrapper {
  background-color: #18181b;
  padding: 3.75rem 3.5rem 1.25rem 3.5rem;

  @media (max-width: 1024px) {
    padding: 3rem 2.5rem 1rem 2.5rem;
  }

  @media (max-width: 768px) {
    padding: 2.5rem 1.5rem 1rem 1.5rem;
  }

  @media (max-width: 480px) {
    padding: 2rem 1rem 0.75rem 1rem;
  }

  .footerTop {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #70707b;

    @media (max-width: 1024px) {
      flex-direction: column;
      gap: 2.5rem;
    }

    @media (max-width: 768px) {
      gap: 2rem;
      padding-bottom: 1.25rem;
    }

    @media (max-width: 480px) {
      gap: 1.5rem;
      padding-bottom: 1rem;
    }
  }

  .leftTitle {
    color: #fcfcfc;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;

    @media (max-width: 1024px) {
      font-size: 1.75rem;
    }

    @media (max-width: 768px) {
      font-size: 1.5rem;
    }

    @media (max-width: 480px) {
      font-size: 1.25rem;
      br {
        display: none;
      }
    }
  }

  .footerLeftLabel {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 155%;

    @media (max-width: 480px) {
      font-size: 0.813rem;
    }
  }

  .footerText {
    color: #fcfcfc;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;

    @media (max-width: 768px) {
      font-size: 0.938rem;
    }

    @media (max-width: 480px) {
      font-size: 0.875rem;
    }
  }

  .menuTitle {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;

    @media (max-width: 768px) {
      font-size: 0.938rem;
    }

    @media (max-width: 480px) {
      font-size: 0.875rem;
    }
  }

  .bottomText {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 155%;

    @media (max-width: 480px) {
      font-size: 0.813rem;
    }
  }
}
