@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/satoshi");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Golos Text", sans-serif !important;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #f4f6fc;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
  @media screen and (max-width: 576px) {
    padding: 0 16px;
  }
}

.title-section {
  font-size: 3.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.065rem;
  @media screen and (max-width: 1040px) {
    font-size: 2.5rem;
  }
  @media screen and (max-width: 845px) {
    font-size: 2rem;
  }
  @media screen and (max-width: 576px) {
    font-size: 1.5rem;
  }
}

.button-black {
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 155%;
  border-radius: 6.25rem;
  background: #18181b;
  height: 2.9375rem;
  @media screen and (max-width: 1040px) {
    height: 2.5rem;
    font-size: 0.875rem;
  }
}

.button-green {
  border-radius: 6.25rem;
  background: #06944c;
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  height: 2.9375rem;
  @media screen and (max-width: 1040px) {
    height: 2.5rem;
    font-size: 0.875rem;
  }
}

.button-white {
  color: #18181b;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  height: 2.9375rem;
  border-radius: 6.25rem;
  background: #f4f4f5;
  @media screen and (max-width: 1040px) {
    height: 2.5rem;
    font-size: 0.875rem;
  }
}

.input-label {
  color: #18181b;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @media screen and (max-width: 1040px) {
    font-size: 0.75rem;
  }
}

.select {
  input {
    border-radius: 0.5rem;
    border: 1px solid #e4e4e7;
    background: #fff;
    height: 2.9375rem;

    &::placeholder {
      color: #70707b;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 155%;
    }

    @media screen and (max-width: 1040px) {
      height: 2.5rem;
      font-size: 0.875rem;
    }
  }
}

.filterInput {
  border-radius: 0.5rem;
  border: 1px solid #e4e4e7;
  background: #fff;
  padding: 0.625rem 0.875rem;
  position: relative;
  @media screen and (max-width: 1040px) {
    padding: 0.5rem 0.75rem;
  }
}

.filterInputSpan {
  color: #26272b;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;
  @media screen and (max-width: 1040px) {
    font-size: 0.875rem;
  }
}

.rangeSlider {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -15.5%;
  z-index: 2;
  @media screen and (max-width: 1040px) {
    bottom: -20%;
  }
}
