.pageHeaderContainer {
  padding: 5rem;
  border-radius: 1rem;
  background: #fff;
  margin: 0.62rem 0 1.25rem 0;
}

.pageHeaderDescription {
  color: #000;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.pageHeaderDescriptionRight {
  color: #70707b;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;
}

.pageHeaderSearch {
  input {
    width: 100%;
    border-radius: 0.75rem;
    border: 1px solid #e4e4e7;
    background: #fff;
    height: 3.5rem;
    padding-left: 3rem;
  }
}

.pageHeaderSearchSection {
  width: 3rem;
}
