.pageHeaderContainer {
  padding: 5rem;
  border-radius: 1rem;
  background: #fff;
  margin: 0.62rem 0 1.25rem 0;

  @media (max-width: 1024px) {
    padding: 3.5rem 2.5rem;
  }

  @media (max-width: 768px) {
    padding: 2.5rem 1.5rem;
  }

  @media (max-width: 480px) {
    padding: 2rem 1rem;
  }
}

.pageHeaderDescription {
  color: #000;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;

  @media (max-width: 1024px) {
    font-size: 1.375rem;
  }

  @media (max-width: 768px) {
    font-size: 1.25rem;
  }

  @media (max-width: 480px) {
    font-size: 1.125rem;
  }
}

.pageHeaderDescriptionRight {
  color: #70707b;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;

  @media (max-width: 1024px) {
    font-size: 1.125rem;
  }

  @media (max-width: 768px) {
    font-size: 1rem;
  }

  @media (max-width: 480px) {
    font-size: 0.938rem;
  }
}

.pageHeaderSearch {
  input {
    width: 100%;
    border-radius: 0.75rem;
    border: 1px solid #e4e4e7;
    background: #fff;
    height: 3.5rem;
    padding-left: 3rem;

    @media (max-width: 768px) {
      height: 3rem;
    }

    @media (max-width: 480px) {
      height: 2.75rem;
      font-size: 0.938rem;
    }
  }
}

.pageHeaderSearchSection {
  width: 3rem;

  @media (max-width: 768px) {
    width: 2.5rem;
  }

  @media (max-width: 480px) {
    width: 2.25rem;

    svg {
      width: 18px;
      height: 18px;
    }
  }
}
